{% trans_default_domain 'FOSUserBundle' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/flashevent/css/style.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/flashevent/css/login.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/flashevent/css/bootstrap.min.css') }}"/>
{% endblock %}


{% block navbar %}
    {{  include("::navbar.html.twig") }}
{% endblock %}
        {% block body %}{%  endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('bundles/flashevent/js/jquery-1.11.2.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/flashevent/js/bootstrap.min.js') }}"></script>
        {% endblock %}
<br/><br/>
<center class="donnees">
    <span>
    <h3>Modifier vos données</h3>
        </span>
    <br/>
<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
    {{ form_widget(form) }}
    <div>
        <br/>
        <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
    </div>
</form>
</center>