{% trans_default_domain 'FOSUserBundle' %}

{% extends '::base.html.twig' %}

{% block body %}

    <br/><br/>

    <h1>Liste des événements</h1>


    <table class="table">
        <thead>
        <center>
            <tr>
                <td class="active">Id</td>
                <td class="success">Nom</td>
                <td class="warning">Lieu</td>
                <td class="danger">Date</td>
                <td class="info">Type</td>
                <td class="info">Description</td>
            </tr>
        </center>
        </thead>
        <tbody>
        {% for entity in entities %}

            <div class="container">
            <tr>
                <td class="active"><a href="{{ path('evenement_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td class="active">{{ entity.nom }}</td>
                <td class="active">{{ entity.lieu }}</td>
                <td class="active">{% if entity.date %}{{ entity.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td class="active">{{ entity.type }}</td>
                <td class="active">{{ entity.description }}</td>
                <ul>
                    <li>
                        <a href="{{ path('evenement_show', { 'id': entity.id }) }}">Montrer</a>
                    </li>
                    <li>
                        <a href="{{ path('evenement_edit', { 'id': entity.id }) }}">Editer</a>
                    </li>
                </ul>
                </td>
            </tr>
            </div>
        {% endfor %}
        </tbody>
    </table>
        <ul>
        <li>
            <a href="{{ path('evenement_new') }}">
                Créer un nouvel évenement
            </a>
        </li>
    </ul>
    {% endblock %}
