{% extends '::base.html.twig' %}

{% block body %}
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="dismiss" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Salut !!</strong> Et bienvenue sur MassEvent ;)
    </div>
    <h1>Liste des événements</h1>

<div class="container">

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Lieu</th>
                <th>Date</th>
                <th>Type</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
</div>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('evenement_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nom }}</td>
                <td>{{ entity.lieu }}</td>
                <td>{% if entity.date %}{{ entity.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.type }}</td>
                <td>{{ entity.description }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('evenement_show', { 'id': entity.id }) }}">Montrer</a>
                    </li>
                    <li>
                        <a href="{{ path('evenement_edit', { 'id': entity.id }) }}">Editer</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('evenement_new') }}">
                Créer un nouvel évenement
            </a>
        </li>
    </ul>
    {% endblock %}
