{{  include("::navbar1.html.twig") }}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/flashevent/css/style.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/flashevent/css/bootstrap.min.css') }}"/>
{% endblock %}

 {% block javascripts %}
     <script type="text/javascript" src="{{ asset('bundles/flashevent/js/jquery-1.11.2.min.js') }}"></script>
     <script type="text/javascript" src="{{ asset('bundles/flashevent/js/bootstrap.min.js') }}"></script>
 {% endblock %}

{% block body -%}
    <h1>Création d'événement</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('evenement') }}">
            Retour à la liste
        </a>
    </li>
</ul>
{% endblock %}
