
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/flashevent/css/login.css') }}"/>
        <link rel="stylesheet" href="{{ asset('bundles/flashevent/css/bootstrap.min.css') }}"/>
    {% endblock %}

    <center>

        <h1>MassEvent</h1>
        <h2>Votre appli événementielle...</h2><br/><br/><br/>
        <br/>
        <a class="compte" href="{{ path('fos_user_registration_register') }}">Pas de compte ??</a>
        <a class="compte" href="{{ path('fos_user_registration_register') }}">Mot de passe oublié ??</a>

    </center>

    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('bundles/flashevent/js/jquery-1.11.2.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/flashevent/js/bootstrap.min.js') }}"></script>
    {% endblock %}


