{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/flashevent/css/login.css') }}"/>
        <link rel="stylesheet" href="{{ asset('bundles/flashevent/css/bootstrap.min.css') }}"/>
    {% endblock %}

<center>

    <h1>MassEvent</h1>
    <h2>Votre appli événementielle...</h2><br/><br/><br/>

<form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <label for="username">{{ 'security.login.username'|trans }}</label><br/>
    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" /><br/><br/>

    <label for="password">{{ 'security.login.password'|trans }}</label><br/>
    <input type="password" id="password" name="_password" required="required" /><br/>

    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label><br/><br/><br/>

    <input type="submit" class="btn btn-success" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
    <br/><br/><br/>
    <a href="{{ path('fos_user_registration_register') }}">Vous n'avez pas de compte ??</a>
</form>

</center>

    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('bundles/flashevent/js/jquery-1.11.2.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/flashevent/js/bootstrap.min.js') }}"></script>
    {% endblock %}

{% endblock fos_user_content %}
